.km-ios .km-insetcontent {
	background-image: url("images/bg.gif");
}

.small {
	font-size: .5em;
}

.medium {
	font-size: .6em;
	line-height: 10px;
}

.big {
	font-size: 2em;
}

.orange {
	color: #F47A00;
}

.blue {
	color: #C5DBF8;
}

.story {
	margin: 10px 0px 10px 0px;
	display: -webkit-box;
	box-orient: horizontal;
}

.points {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 50px;
}

.link {
	width: 200px;
	padding-left: 20px;
	line-height: 1.1em;
	font-size: .8em;
	color: gray;
}